@charset "UTF-8";
h1, h2, h3, h4, h5, h6, [class^='heading-'] {
    margin-top: 0;
    margin-bottom: 0;
  	/*font-family: 'majesti_bannerlight';*/
  	font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
	margin-top: 0;
    margin-bottom: 0;
  	/*font-family: 'majesti_bannerlight';*/
  	font-family: 'Roboto', sans-serif;
}


body {
  padding-top: 56px;
}
ul {
    list-style-type: none;
}

/*------------------------------------navbar--------------------------------------*/

.navbar {
  background-color: #fff;
  transition: background-image 0.5s;
}
.nav-item .nav-link {
	color: #000;	
}
.slanted {
	display: inline-block;
	-webkit-transform: rotate(-18deg);
	-moz-transform: rotate(-18deg);
	-o-transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
	transform: rotate(-18deg);
}
.modal .modal-dialog-aside{
	width: 320px;
	max-width:80%; height: 100%; margin:0;
	transform: translate(0); transition: transform .2s;	
}
.modal .modal-dialog-aside .modal-content{  height: inherit; border:0; border-radius: 0;}
.modal .modal-dialog-aside .modal-content .modal-body{ overflow-y: auto }
.modal.fixed-right .modal-dialog-aside{ margin-right:auto; transform: translateX(-100%); } 

.modal.show .modal-dialog-aside{ transform: translateX(0);  }

.modal-content .modal-header {
  height: 59px;
  background-color: #fffff;
  position: relative;
  border-radius: 0;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 0px solid #dee2e6 !important!;
    /* border-top-left-radius: calc(.3rem - 1px); */
    /* border-top-right-radius: calc(.3rem - 1px); */
}
.modal-content .modal-header .text {
  height: 56px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  font-size: 16px;
  padding: 8px 0;
  color: #fff;
}
.modal-content .modal-header .text .field {
  padding-left: 15px;
  font-size: 19px;
 } 
.modal-content .modal-header .text .field .name {
  font-weight: normal;
}
.modal-body .menu {
	padding-left: 0px;
}
/* navbar hide on scroll down */
.nav-up {
    top: -80px;
}
.navbar{
   transition: top 0.5s ease-in-out;
   padding: .5rem 2rem;
   font-family: 'majesti_bannerlight';
}

.navbar-expand-lg .navbar-nav .nav-link .active {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-family: 'majesti_bannerlight';
}


/*------------------------------------ end navbar--------------------------------------*/
.active{
  /* background-color:#d90000; */
  color:#135C94 !important;

}

.btn-product{
    border: 2px solid #fff;
    background-color: #fff0;
    border-radius: 30px;
    padding: 15px 40px;
    color: white;
    box-shadow: 0 6px 30px -10px #4a74c9;
    transition: all 0.5s ease;
    letter-spacing: 1px;
}
.text-color-h{
  color: #565656;
}
.btn-contat{
  color: #fff;
  background-color: #135C94;
  border-radius: 30px;
  padding: 15px 40px;
  transform: scale(0.930);
}
.btn-contat:hover{
  color: #fff;
  background-color: #0a436f;
  border-radius: 30px;
  padding: 15px 40px;
  transform: scale(0.930);
}

.btn-product:hover{
    border: 2px solid #fff;
    color: #000;
    background-color: #fff;
    border-radius: 30px;
    padding: 15px 40px;
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    transform: scale(0.930);
}
.btn-effect2 {
  &::before {
    display: block;
    position: absolute;
    bottom: -10%;
    // top: calc(100% + .25rem);
    left: 0;
    border-top: 1px solid transparent;
    width: 0%;
    // height: 2rem;
  }
  &:hover::before {
    width: 100%;
    border-color: darken(#2aca76, 10%);
  }
}
.img-line{
  vertical-align: text-top;
  margin-right: 10px
}

.fix-font{
  font-family: 'majesti_bannerlight';
}
.hr-index{
  border: 1px solid #135c94;
}

.center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

#bg-section1{
	background-image: url("../image/logo/aboutus_bg.jpg");
	background-size: auto;
  min-height: 798px;
  background-repeat: no-repeat;
}

.line-height-30{
  line-height: 30px;
}
.f-30{
  font-size: 30px;
}
.card-p-y{
  padding: 35px 30px;
}

.text-blue{
	color: #135C94;
}
.text-green{
	color: #77C2AB
}
.text-green{
  color: #77c2ab;
}
.f-14{
	font-size: 14px;
}
.h-122{
	height: 120px;
}
.p-30{
	padding: 30px;
}
.f-bold{
  font-weight: bold;
}
#Rectangle_5 {
    fill: rgba(19,92,148,1);
}
.Rectangle_5 {
  position: absolute;
  overflow: visible;
  width: 1px;
  height: 173px;
  left: 221px;
  top: 0px;
}
#Successful1 {
 /*    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: center; */
    font-family: Majesti Banner;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(19,92,148,1);
    letter-spacing: 1px;
}
#Successful2 {
  /* left: 1px; */
  /* top: 105px; */
  /* position: absolute; */
  overflow: visible;
  white-space: nowrap;
  text-align: left;
  font-family: Majesti Banner;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(19,92,148,1);
  letter-spacing: 1px;
  text-transform: uppercase;
}
#Successful3 {
    left: 269px;
    top: 19px;
    position: absolute;
    overflow: visible;
    line-height: 28px;
    margin-top: -5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(19,92,148,1);
    letter-spacing: 0.1px;
}

.bg-gradient{
  background: rgb(119,194,171);
  background: -moz-linear-gradient(90deg, rgba(119,194,171,1) 0%, rgba(19,92,148,1) 68%);
  background: -webkit-linear-gradient(90deg, rgba(119,194,171,1) 0%, rgba(19,92,148,1) 68%);
  background: linear-gradient(90deg, rgba(119,194,171,1) 0%, rgba(19,92,148,1) 68%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#77c2ab",endColorstr="#135c94",GradientType=1);
}
#bg-footer{
  /* height: 150px; */
  background: rgb(119,194,171);
  background: -moz-linear-gradient(90deg, rgba(119,194,171,1) 0%, rgba(19,92,148,1) 68%);
  background: -webkit-linear-gradient(90deg, rgba(119,194,171,1) 0%, rgba(19,92,148,1) 68%);
  background: linear-gradient(90deg, rgba(119,194,171,1) 0%, rgba(19,92,148,1) 68%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#77c2ab",endColorstr="#135c94",GradientType=1);
}
.w-footer{
  width: 6%; 
}
.fix-flex{
  display: flex;
}
.fix-w-iconfooter{
  width: 75%;
}

.fix-mt-product{
  margin-top: 18vmin;    
}
 
