@media (max-width: 1990px) {
    
}

@media (max-width: 1880px) {
   
}

@media (max-width: 1449px) {
    
}
@media (max-width: 1382px) {
    
}
@media (max-width: 1367px) {
    
}
@media (max-width: 1300px) {
    
}
@media (max-width: 1250px) {
    
}
@media (max-width: 1200px) {
    
}
@media (max-width: 1100px) {
    
}

@media (max-width: 991px) {
	.d-lg-block {
	    display: flex!important;
	}
   
}
@media (max-width: 850px) {
    
}
@media (max-width: 800px) {
    .fix-w-iconfooter{
      width: 20% !important;
    }
    
}
@media (max-width: 768px) {
    .fix-w-iconfooter{
      width: 10% !important;
    }

    
}
@media (max-width: 650px) {
    
}
@media (max-width: 580px) {
	.width-navbar-sm{
		width: 70%;
	}
    .fix-w-iconfooter.fix-w-iconfooter{
       width: 10% !important;
    }
    
}
@media (max-width: 500px) {
    
}
@media (max-width: 440px) {
    
}

@media (max-width: 414px) {
    
}

@media (max-width: 400px) {
   
}
@media (max-width: 375px) {
    
}
@media (max-width: 320px) {
   
}


